.profile-child
  #mugshot.photo
    %img{alt: '', src: @child.photo.url(:thumbnail)}
  %section
    .editable
      %span.name= @child.name
      %p
        %strong< #{@child.gender ? 'Né' : 'Née'} le :
        #{l @child.born_on},
        %span.age{'data-years' => age_in_years(@child.born_on, @diagnostic.reference_date)}<= textual_age @child.born_on, @diagnostic.reference_date
        %br/
        %strong Village : #{@child.village.try(:name) || '-'}

    .measurements= partial 'diagnostics/edit_measurements', locals: { form: form }
    .ratios
      %ul
        = render :partial => 'children/index', :locals => {:name => 'weight_age'}
        = render :partial => 'children/index', :locals => {:name => 'height_age'}
        = render :partial => 'children/index', :locals => {:name => 'weight_height'}
    .vaccinations
      %h3 Vaccinations :
      - form.fields_for :child do |fields|
        - for key, name in Child::VACCINATIONS do
          = fields.check_box key, checked: @child.send(key)
          = fields.label key, name
    .next
      %button.next(type="button") Suivant

= partial 'diagnostics/edit_signs', locals: { form: form }

%nav
  %button.validation(type="submit") Terminer la consultation
