.profile-child{'data-gender' => @child.gender.to_s}
  = partial 'children/mugshot', locals: { child: @child, action: child_path(@child), klass: 'editing'}
  %section
    .editable
      %span.name= @child.sortable_name
      %p
        %strong< #{@child.gender ? 'Né' : 'Née'} le :
        - if @diagnostic.new_record?
          - @diagnostic.born_on = @child.born_on
          = form.date_select(:born_on, :start_year => Date.today.year, :end_year => Date.today.year - 18, :include_blank => true)
          %br/
          %span.warning Ne modifiez la date que si celle-ci est incorrecte !
        - else
          = l @diagnostic.born_on
          %span.remark (date saisie le jour de consultation)
        %br/

        - unless @diagnostic.new_record?
          %strong Age :
          %span.age{'data-age' => @diagnostic.age, 'data-months' => @diagnostic.months, 'data-days' => @diagnostic.days, 'data-diag-date' => @diagnostic.done_on}<= months_to_text @diagnostic.months
          %span.remark (à la date de consultation : #{l @diagnostic.done_on.to_date})
          %br/

        %strong Village :
        = village @child
        %br/
        %strong Distance :
        = form.select :distance, [ [], *Diagnostic::DISTANCES.to_select ], {}, class: 'required'

    .measurements= partial 'diagnostics/edit_measurements', locals: { form: form }
    = form.fields_for :child do |fields|
      .vaccinations= partial 'children/edit_vaccinations', locals: { form: fields, child: @child }
    .warn{'data-condition' => 'data.enfant.age < 5'}
      L'âge de l'enfant doit être compris entre 0 et 59 mois.
    .next
      %button.next(type="button") Continuer

%h2.em.show
  %span.by
    - if @diagnostic.kind_key == 'follow'
      = image_tag 'icons/follow-icon.png'
      Consultation de suivi
    - else
      = image_tag 'icons/new-icon.png'
      Nouvelle consultation
= form.hidden_field :kind
.illnesses= partial 'diagnostics/edit_signs', locals: { form: form }

%section.treatment
  %h2 Autres problèmes de santé
  = form.text_area :other_problems, cols:20, rows:5

%nav
  %button.validation(type="submit") Choisir les traitements
