%h2 Nouvelles mesures
%table
  %tbody
    %tr
      %th(scope='row') Taille
      %td
        = form.text_field :height, size: 4, class: 'float'
        %em cm
      %th(scope='row') Poids
      %td
        = form.text_field :weight, size: 4, class: 'float'
        %em kg
      - if form.object.new_record? or (form.object.months > 6 and form.object.months < 60)
        %th(scope='row') Périm. Brac.
        %td
          - optional = 'optional' if form.object.new_record?
          = form.text_field :mac, size: 4, class: "integer #{optional}"
          %em mm
.ratios
  %ul
    = render :partial => 'diagnostics/index', :locals => {:name => 'weight_height', :diagnostic => form.object}
    = render :partial => 'diagnostics/index', :locals => {:name => 'height_age', :diagnostic => form.object}
    = render :partial => 'diagnostics/index', :locals => {:name => 'weight_age', :diagnostic => form.object}
