.profile-child
  #mugshot.photo
    %img{alt: '', src: @child.photo.url(:thumbnail)}
  %section
    .editable
      %span.name= @child.name
      %p
        #{@child.gender ? 'Né' : 'Née'} le #{@child.born_on},
        #{@child.age_in_months} mois
        %br/
        Village: #{@child.village.try(:name) || '-'}

    .measurements= partial 'diagnostics/edit_measurements', locals: { form: form }
    .vaccinations
      - form.fields_for :child do |fields|
        - for key, name in Child::VACCINATIONS do
          = fields.check_box key, checked: @child.send(key)
          = name

= partial 'diagnostics/edit_signs', locals: { form: form }

%nav
  %button.validation(type="submit") Terminer la consultation
