%h2 Nouvelles mesures
%table
  %tbody
    %tr
      %th(scope='row') Taille
      %td
        = form.text_field :height, size: 4, class: 'float'
        %em cm
      %th(scope='row') Poids
      %td
        = form.text_field :weight, size: 4, class: 'float'
        %em kg
      - if form.object.new_record? or (form.object.months > 6 and form.object.months < 60)
        %th(scope='row') Périm. Brac.
        %td
          = form.text_field :mac, size: 4, class: 'integer', 'data-condition' => 'data.enfant.months >= 6 && data.enfant.age <= 5', 'data-key' => 'muac'
          %em mm
.ratios
  %ul
    = partial 'diagnostics/index', locals: { name: 'weight_height', diagnostic: @diagnostic }
    = partial 'diagnostics/index', locals: { name: 'height_age', diagnostic: @diagnostic }
    = partial 'diagnostics/index', locals: { name: 'weight_age', diagnostic: @diagnostic }
