.profile-child{'data-gender' => @child.gender.to_s}
  #mugshot.photo{:"data-field" => 'child[photo]', :"data-action" => child_path(@child)}
    %img{alt: '', src: @child.photo.url(:thumbnail)}
  %section
    .editable
      %span.name= @child.name
      %p
        %strong< #{@child.gender ? 'Né' : 'Née'} le :
        #{l @child.born_on},
        %span.age{'data-age' => @diagnostic.age, 'data-months' => @diagnostic.months}<= months_to_text @diagnostic.months
        %br/
        %strong Zone : #{@child.village.try(:name) || '-'}

    .measurements= partial 'diagnostics/edit_measurements', locals: { form: form }
    .vaccinations
      %h3 Etat vaccinal :
      - form.fields_for :child do |fields|
        - for key, name in Child::VACCINATIONS do
          = fields.check_box key, checked: @child.send(key)
          = fields.label key, name
    .warn{'data-condition' => 'data.enfant.age < 5'}
      L'âge de l'enfant doit être compris entre 0 et 59 mois.
    .next
      %button.next(type="button") Continuer

= partial 'diagnostics/edit_signs', locals: { form: form }

%nav
  %button.validation(type="submit") Identifier le traitement
