- child ||= @child
- diagnostic ||= nil
- graph = true if graph.nil?
- value = diagnostic ? index_value(diagnostic, name) : nil
- score = diagnostic ? index_score(diagnostic, name) : nil
%li{:class => index_style(name, value, graph), 'data-key' => name}
  %div
    %span= t(name, :scope => :indices)
  %strong
    %span.value= value ? value.to_i : '-'
    \%
    %span.score= score ? score : '-'
    \(z)
  - if graph && value && child
    %div.graph
      %h2= t(name, :scope => :indices)
      != ziya_chart indices_child_path(child, :diagnostic => diagnostic,:name => name,:format => :xml), :size => '500x400'
      %ul.legend
        %li sd3
        %li sd0
        %li sd3neg
