- child ||= @child
- diagnostic ||= nil
- value ||= if @values
  - @values[name]
- elsif diagnostic and not diagnostic.new_record?
  - diagnostic.index_ratio(name)
- else
  - child.index_ratio(name)
- if value.is_a? Float
  - style = :warning if value < Index::WARNING[name]
  - style = :alert if value < Index::ALERT[name]
- else
  - style = :disabled
%li{:class => "#{style} #{name}"}
  %span= t(name, :scope => :indices)
  %strong
    = "#{value.to_i} %"
  - if value.is_a? Float and child
    %div.graph
      %h2= t(name, :scope => :indices)
      != ziya_chart indices_child_path(child, :diagnostic => diagnostic,:name => name,:format => :xml), :size => '500x400'
