- count = 0
- for i in Illness.order(:sequence) do
  %fieldset
    %legend= i.name
    %table
      - @diagnostic.sign_answers.for(i).each do |answer|
        - form.fields_for "sign_answers][#{count}", answer do |fields|
          %tr
            %th(scope="row")= answer.sign.question
            %td= partial "sign_#{answer.sign.kind}", locals: { sign: answer.sign, form: fields }
        - count += 1
