- content_for :breadcrumbs do
  %ul#breadcrumbs
    %li= link_to "Nouvelle Recherche", children_path
    %li= link_to @diagnostic.child.name, @diagnostic.child
    %li= link_to "Evaluation", child_diagnostic_path(@diagnostic.child, @diagnostic)
    %li Choisir les médicaments

= partial 'children/profile'

-# Count 1, mandatory: blurred checkbox
-# Count 1, optional: active checkbox
-# Count n, one mandatory: radio, disabled, mandatory selected
-# Count n, n mandatory: radio, mandatories active, optionals disabled
-# Count n, all mandatory: radio, active
-# Count n, all optional: radio, active

%h2.em Choisir les médicaments

- if @diagnostic.errors[:ordonnance]
  .errors
    L'ordonnance est incomplète

- form_for @diagnostic, url: child_diagnostic_path(@child, @diagnostic) do |f|
  - for res in @diagnostic.results.to_display do
    %section.treatment{:class => Classification::LEVELS[res.classification.level]}
      %h2= res.treatment.name
      != res.treatment.html @diagnostic, &for_selection

  %nav
    - if Csps.point? && @diagnostic.author == current_user
      = link_to "Modifier l'évaluation", edit_child_diagnostic_path(@child, @diagnostic), :class => 'edit'
    - if @diagnostic.author == current_user
      %input{type: 'hidden', name: 'diagnostic[state]', value:'medicines_selected'}/
      %button.validation(type="submit") Ordonnance
    - else
      = link_to "Terminer l'évaluation", [ @child, @diagnostic ], :class => 'validation'
