- content_for :breadcrumbs do
  %ul#breadcrumbs
    %li= link_to "Nouvelle Recherche", children_path
    %li= link_to @diagnostic.child.name, @diagnostic.child
    %li= link_to "Evaluation", child_diagnostic_path(@diagnostic.child, @diagnostic)
    %li Choisir les médicaments

= partial 'children/profile'

%h2.em Choisir les médicaments

- if @diagnostic.errors[:ordonnance].any?
  %section.treatment.warning
    %h2 Erreur: l'ordonnance est incomplète
    %p Veuillez sélectionner une posologie par médicament obligatoire

- form_for @diagnostic, url: child_diagnostic_path(@child, @diagnostic) do |f|
  - for res in @diagnostic.results.to_display do
    %section.treatment{:class => Classification::LEVELS[res.classification.level]}
      %h2= res.treatment.name
      != res.treatment.html @diagnostic, &for_selection

  %nav
    - if Csps.point? && @diagnostic.author == current_user
      = link_to "Modifier l'évaluation", edit_child_diagnostic_path(@child, @diagnostic), :class => 'edit'
    - if @diagnostic.author == current_user
      %input{type: 'hidden', name: 'diagnostic[state]', value:'medicines_selected'}/
      %button.validation(type="submit") Voir l'ordonnance
    - else
      = link_to "Voir l'ordonnance", [ @child, @diagnostic ], :class => 'validation'
