- unless @diagnostic.classifications.any?
  - content_for :head do
    %link{type:"application/json", rel:"calculations", href:calculations_child_diagnostic_path(@child, @diagnostic)}/

= partial 'children/profile'
%section.consultation
  = partial 'header', locals: { diagnostic: @diagnostic }

- for i in Illness.order(:sequence) do
  %section.consultation{ 'data-illness-id' => i.id }
    %h2= i.name
    %table
      - for sa in @diagnostic.sign_answers.for(i) do
        %tr
          %th(scope="row")= sa.sign.question
          %td= sa.value
    - cs = @diagnostic.classifications.for(i)
    - if cs.any?
      %ul.classification
        - for c in cs do
          %li= c.name
    - else
      %p.classification Calcul en cours..
