- unless @diagnostic.classifications.any?
  - content_for :head do
    %link{type:"application/json", rel:"calculations", href:calculations_child_diagnostic_path(@child, @diagnostic)}/

= partial 'children/profile'

%h2.em Traitements

- if @diagnostic.failed_classifications.try :any?
  %section.warning
    %h3 Les classifications suivante on échoués:
    %ul
      - for c in Classification.find(@diagnostic.failed_classifications) do
        %li= c.name

- for cl in @diagnostic.classifications do
  - next if cl.treatment.blank?
  %section.treatment
    %h2
      = cl.name
      %ul.classification
        %li{:class => Classification::LEVELS[cl.level]}
          = t(Classification::LEVELS[cl.level], :scope => [:levels])
    
    != html cl.treatment

- form_for @diagnostic, url: child_diagnostic_path(@child, @diagnostic), html: { class: 'edit diagnostic' } do |form|
  %input(type="hidden" name="step" value="final")/

  %section.treatment
    %h2 Commentaires
    = form.text_area :comments, cols:20, rows:5
    
  %nav
    = link_to "Modifier l'évaluation", edit_child_diagnostic_path(@child, @diagnostic), :class => 'edit'
    %button.validation(type="submit") Terminer le diagnostic
