.name
  = form.text_field :first_name, 'data-label' => 'Prenom', size: 16
  = form.text_field :last_name, 'data-label' => 'Nom', size: 16
%p
  = form.select :gender, [ %w(Masculine 1), %w(Feminine 0) ], selected: (form.object.gender ? '1' : '0')
  %span.nee= form.object.gender ? 'Né' : 'Née'
  le
  = form.text_field :born_on, 'data-label' => 'Date', size: 10
  %br/
  %strong Village :
  = form.select :village_id, Village.to_select
