.name
  = form.text_field :name, 'data-label' => 'Nom', size: 30
%p
  = form.select :gender, [ %w(Masculin 1), %w(Féminin 0) ], selected: (form.object.gender ? '1' : '0')
  %span.nee= form.object.gender ? 'Né' : 'Née'
  le
  = form.text_field :born_on, 'data-label' => 'Date', size: 10
  %br/
  %strong Village :
  = form.select :village_id, Village.to_select
