%p.name
  %strong Nom :
  = form.text_field :last_name, 'data-label' => 'Nom', size: 30, class: 'required'
%p.name
  %strong Prénom :
  = form.text_field :first_name, 'data-label' => 'Prénom', size: 30, class: 'required'
%p.name
  %strong Nom de la mère :
  = form.text_field :mother, 'data-label' => 'Nom de la mère', size: 30, class: 'required'
%p.name
  %strong Sexe :
  = form.select :gender, [ [], %w(Masculin 1), %w(Féminin 0) ], { selected: form_gender(form.object.gender) }, class: 'required'
%p.name
  %strong
    %span.nee= nee form.object.gender
    le :
  = form.date_select(:born_on, :start_year => Date.today.year, :end_year => Date.today.year - 18, :include_blank => true)
%p.name
  %strong Village :
  = form.hidden_field :village_name
  = form.select :village_id, [ [], *zone_select_for_child(form.object) ], {}, class: 'required'
/ - if @child.new_record?
/   = form.fields_for :diagnostic, @diagnostic do |fields|
/     %p.name
/       %strong Distance :
/       = fields.select :distance, [ [], *Diagnostic::DISTANCES.to_select ], {}, class: 'required'
