.profile-child
  #mugshot.photo{:"data-field" => 'child[photo]', :"data-action" => child_path(@child)}
    %img{alt: '', src: @child.photo.url(:thumbnail)}
  %section
    .editable{'data-edit-href' => edit_child_path(@child)}
      = partial 'children/'+(show? ? 'show' : 'edit'), locals: { child: @child }
    .measurements
      %h2 Dernières mesures
      - if @child.last_visit
        = partial 'children/measurements', locals: { diagnostic: @child.last_visit }
      - else
        %p Never measured.
    .ratios
      %ul
        = render :partial => 'children/index', :locals => {:name => 'weight_age'}
        = render :partial => 'children/index', :locals => {:name => 'height_age'}
        = render :partial => 'children/index', :locals => {:name => 'weight_height'}
    .vaccinations
      %h3 Vaccinations :
      %ul
        - Child::VACCINATIONS.each do |k,n|
          - if @child.send(k)
            %li.yes= n
          - else
            %li.no= n
