%span.name= child.name
%p
  %strong #{child.gender ? 'Né' : 'Née'} le :
  #{l child.born_on}, #{age child.born_on}
  %br/
  %strong Village : 
  #{child.village.try(:name) || '-'}
%button.edit(type="button") Editer
