%span.name= child.name
%p
  %strong #{child.gender ? 'Né' : 'Née'} le :
  %span.age{'data-age' => child.age, 'data-months' => child.months}
    #{l child.born_on}, #{months_to_text child.months}
  %br/
  %strong Zone : 
  #{child.zone.try(:name) || '-'}
%button.edit(type="button") Editer
