%nav
  %p.hint Le patient se présente au dispensaire pour la première fois ?
  = link_to 'Nouveau patient', new_child_path, :class => 'new-child'

%section
  %h1 Rechercher un patient
  - search_form do |f|
    %div
      %label Nom
      = f.text_field :name
    .select
      %label Date de naissance
      = f.select :born_on, (0..20).to_a.map {|y| [Date.today.year - y]*2}, :include_blank => '-', :selected => ((params[:q] ? params[:q][:born_on] : nil)).to_i
    .select
      %label Village
      = f.select :village_id, Village.to_select, include_blank: true
    .buttons
      -#%button(type='reset') Clear
      %button(type='submit') Rechercher

  - if @children.any?
    - paged = @children.includes(:village).paginate(@page, window: 15)
    %p.result-count
      - if paged.size < paged.total
        %strong= paged.size
        de
      %strong= paged.total
      Patient(s) trouvé(s)
    %table.children
      %thead
        %tr
          %th!= sortable_header 'Nom', 'name'
          %th!= sortable_header 'Année de naissance', 'born_on'
          %th!= sortable_header 'Village', 'villages.name'
          %th!= sortable_header 'Dernière consultation', 'last_visit_at'
      %tbody
        - for child in paged do
          %tr{ :class => cycle("odd", "even") }
            %td= link_to child.name, child
            %td= child.born_on.year
            %td= child.village.name
            %td= l child.last_visit_at
    %ul.pagination
      - if paged.prev?
        %li.em= link_to "< Prev", url_for(request.query_parameters.merge(:page => @page - 1))
      - 1.upto(paged.pages) do |p|
        - if p == @page
          %li= @page || 1
        - elsif (@page - p).abs < 4 || p == 1 || p == paged.pages 
          %li= link_to p, url_for(request.query_parameters.merge(:page => p))
        - elsif (@page - p).abs < 5
          %li ...
      - if paged.next?
        %li.em= link_to "Next >", url_for(request.query_parameters.merge(:page => @page + 1))
  - else
    .no-result
      %p Aucun patient ne correspond aux termes de recherche spécifiés 
      %p 
        %strong Suggestions : 
        Vérifiez l’orthographe des termes de recherche ou consultez la
        = link_to "liste des patients", children_path
