%nav
  %p.hint Le patient se présente au dispensaire pour la première fois ?
  = link_to 'Nouveau patient', new_child_path, :class => 'new-child'

%section
  %h1 Rechercher un patient
  - search_form do |f|
    %div
      %label Prénom
      = f.text_field :first_name
    %div
      %label Nom
      = f.text_field :last_name
    %div
      %label Date de naissance
      = f.text_field :born_on
    %div.village
      %label Village
      = f.select :village_id, []
    %div.buttons
      -#%button(type='reset') Clear
      %button(type='submit') Rechercher

  %table.children
    %thead
      %tr
        %th Prénom
        %th Nom
        %th Date de naissance
        %th Village
        %th Dernière visite
    %tbody
      - for child in @children.includes(:village).paginate(page, window: 15) do
        %tr
          %td= link_to child.first_name, child
          %td= link_to child.last_name, child
          %td= child.born_on
          %td= child.village.name
          %td= child.last_visit_at
