- content_for :breadcrumbs do
  %ul#breadcrumbs
    %li= link_to "Recherche", children_path
    %li Nouveau Patient
= form_for @child, html: { class: 'new child diagnostic', 'data-questionnaire' => '/children/questionnaire' } do |form|
  .profile-child
    = partial 'mugshot', locals: { child: @child, action: temp_children_path, klass: 'editing', method: :post}
    %section
      %div.editable= partial 'edit_fields', locals: { form: form }
      = form.fields_for :diagnostic, @diagnostic do |fields|
        .measurements= partial 'diagnostics/edit_measurements', locals: { form: fields }
        .vaccinations= partial 'edit_vaccinations', locals: { form: form, child: @child }
      .warn{'data-condition' => 'data.enfant.age < 5'}
        L'âge de l'enfant doit être compris entre 0 et 59 mois.
      .next
        %button.next(type="button") Continuer
  %div.illnesses
  %nav
    %button.validation(type="submit") Choisir les traitements
