= @diagnostic.errors
- form_for @child do |form|
  %section.profile
    %div
      %img(alt='')
    %div
      %h1
        = form.text_field :first_name, 'data-label' => 'Prenom', size: 16
        = form.text_field :last_name, 'data-label' => 'Nom', size: 16
      %p
        = form.select :gender, [ %w(Né 1), %w(Née 0) ]
        le
        = form.text_field :born_on, 'data-label' => 'Date', size: 10
        %br/
        Village:
        = form.select :village_id, Village.to_select
    - form.fields_for :diagnostic, @diagnostic do |fields|
      %div= partial 'diagnostics/new_measurements', locals: { form: fields }
  %section
    - form.fields_for :diagnostic, @diagnostic do |fields|
      = partial 'diagnostics/new', locals: { form: fields }
