- content_for :breadcrumbs do
  %ul#breadcrumbs
    %li= link_to "Recherche", children_path
    %li Nouveau Patient
= form_for @child, html: { class: 'new child diagnostic' } do |form|
  .profile-child
    %div#mugshot.photo{'data-field' => 'child[photo]', 'data-method' => 'post', 'data-action' => temp_children_path}
      %img{alt: '', src: @child.photo.url(:thumbnail)}
    %section
      %div.editable= partial 'edit_fields', locals: { form: form }
      = form.fields_for :diagnostic, @diagnostic do |fields|
        %div.measurements= partial 'diagnostics/edit_measurements', locals: { form: fields }
        .vaccinations
          %h3 Etat vaccinal :
          - for key, name in Child::VACCINATIONS do
            = form.check_box key, checked: @child.send(key)
            = form.label key, name
      .warn{'data-condition' => 'data.enfant.age < 5'}
        L'âge de l'enfant doit être compris entre 0 et 59 mois.
      .next
        %button.next(type="button") Continuer
  %div.illnesses
  %nav
    %button.validation(type="submit") Identifier le traitement
