- content_for :head do
  = javascript_include_tag 'welcome'

- zones = partial 'zone_select'

.welcome
  %h1 Nouveau centre

  - unless Csps.site
    .choose
      %p
        %button.new{type: 'button'} Nouvelle installation
      %p
        %button.restore{type: 'button'} Restauration

  %div{:class => Csps.site ? nil : 'new'}
    %h2 Création du premier utilisateur
    - form_for @user do |f|
      - unless Csps.site
        = zones
      = partial 'users/form', locals: { form: f }
      %div
        %button(type="submit") Créer

  - unless Csps.site
    .restore
      - form_for @user do |f|
        = hidden_field_tag 'restore', 'true'
        = zones
        %div
          %button(type="submit") Créer centre

  .back
    %p= link_to 'Retour', 'javascript:void()'

%img.preload(src="/images/hourglass.png" alt="")/
