- content_for :breadcrumbs do
  %ul#breadcrumbs
    %li= link_to "Recherche Patient", children_path
    %li Mot de passe

- user = @user || current_user
.welcome
  - if current_user.password_expired?
    %h1 Personnalisez votre mot de passe
  - else
    %h1 Changement de mot de passe

  - form_for user do |form|
    %div
      %label Mot de passe actuel
      %input{type: 'password', name: 'password'}
      - if @pw_error
        .errors Mot de passe incorrect
    %div
      %label Nouveau mot de passe
      = form.password_field :password, :value => ''
      = errors_on form, :password
    %div
      %label Confirmer mot de passe
      = form.password_field :password_confirmation, :value => ''
      = errors_on form, :password_confirmation
    %div
      %button(type="submit") Modifier
