!!! 5
%html
  %head
    %title REC
    = stylesheet_link_tag 'screen', 'forms', media: 'screen'
    = javascript_include_tag 'mootools', 'application'
    = yield :head
  %body
    %header
      = yield :header
      = yield :breadcrumbs
      = form_tag session_path, method: 'delete' do
        Agent:
        %strong= current_user.name
        |
        - if Csps.site
          CSCOM:
          %strong= Csps.site
        - else
          Aucun CSCOM
        %button.confirm(type="submit" data-confirm="Etes vous sûr de vouloir vous déconnecter ?") Logout
    = yield
