!!! 5
%html
  %head
    %title CSPS
    = stylesheet_link_tag 'screen', 'forms', media: 'screen'
    = javascript_include_tag 'mootools'
    = yield :head
    = javascript_include_tag 'application'
  %body.lobby= yield
